# Ignorar imágenes
*.jpg
*.jpeg
*.png
*.gif
*eps

# Ignorar dependencias
vendor/

# Ignorar archivos temporales y de configuración
*.log
*.tmp
*.bak

# Archivos del sistema operativo
Thumbs.db
.DS_Store