body,
html{
    overflow-x: hidden;
    font-size: 10px;
}

:root {
    --icons-size: 23px; 
    --icons-size-social-networks: 30px;
    --title-font: Montserrat;
    --text-font: lato;
}


/* Estilos del header responsivo */
.header {
    display: grid;
    grid-template-columns: auto 1fr 45% 1fr auto;
    grid-template-rows: 72px;
    gap: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: transparent;
    width: 100%;
}

.Container-category-woman-man{
    display: none;
}

.header__icons-button {
    align-self: center;
    border: none;
    min-width: 45px;
    min-height: 35px;
    cursor: pointer;
}

.icons-button__svg {
    width: var(--icons-size);
    height: var(--icons-size);
}
.transparent {
    background-color: transparent;
}

.right {
    justify-self: end;
    justify-items: start;
}

.left {
    justify-self: start;
}

.header__container-brand-name {
    max-height: 50%;
    align-self: center;
    justify-self: center;
}

.header__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    overflow: auto;
    background-color: #000000;
    color: #5f0505;
    opacity: 0.95   ;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}

li {
    list-style: none;
    margin: 10px;
}

.menu__close-button {
    border: none;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
    position: absolute;
}

.li-brand-name {
    justify-self: center;
    margin: 10px;
}

.li-woman__title, .li-man__title, .li-logut__title {
    border: none;
    color: #ffffff;
    font-size: 1.9em;
    font-weight: bolder;
    width: 100%;
    cursor: pointer;
}

.li-woman__text {
    text-align: start;
}

.a-underline:hover {
    text-decoration: underline;
}

.li-h4 {
    font-size: 1.8em;
}

.header__profile {
    position: absolute;
    right: 32px;
    top: 58px;
    background-color: #ffffff;
    width: 170px;
    border-radius: 10px;
}
.accesorio {
    position: absolute;
    right: 50px;
    top: 55px;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    transform: rotate(47deg);
}

.header__profile-link{
    color: #000000;
}

.logout-button {
    border: none;
    text-align: start;
    padding: 0;
    font-size: 1.5em ;
}

.header__shopping-bag {
    overflow: auto;
    position: fixed;
    right: 0;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 100vh;
}

.hidden {
    opacity: 0;
    transition: opacity 1.5s ease;
    display: none;
}

.shopping-bag__close-button {
    margin-top: 16px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}

.shopping-bag__title {
    text-align: center;
    margin: 5px;
    font-size: 2.2em;
    line-height: 2;
}

.shopping-bag-product {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.shopping-bag-product__product-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    
}

.product-item__img-container {
    width: 80px;
    height: 100px;
}

.img-container__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.product-item__details-container {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
}

.details-container__name {
    font-size: 1.6em;
    font-weight: bold;
    color: #ffffff;
    margin: 0 25px;
    padding: 6px 0;
}

.details-container__price,
.details-container__quantity {
    font-size: 1.3em;
    color: #ffffff;
    margin: 0 25px;
    padding: 6px 0;
}

.product-item__icons-button {
    position: absolute;
    top: 5px;
    right: -10px    ;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 25px;
}


.button-opacity-hover:hover {
    opacity: 0.75;
    transform: scale(1.01);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/* Estilos aside */

.aside {
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 100%;
}

.header__container-free-shipping {
    background-color: #000000;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}

.header__container-free-shipping-title {
    color: #ffffff;
    font-size: 1.2em;
    font-family: Lato;
    font-weight: 100;
}

/* Estilos de body responsivo */

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 50vh);
    width: 100%;
}

.main__image-container {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

.image-container__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cien-por-ciento{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

.mitad {
    grid-column: 1 / span 2;
    height: 50vh;
}

.image-container__btn-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #ffffff;
    font-size: 1em;
    font-family: var(--text-font);
    cursor: pointer;
}

.image-container__btn-overlay:hover {
    background-color: #ffffff;
    color: #000000;
    Transition:  1s, cubic-bezier(0.17, 0.35, 0.9, 0.45), 0.5s;
}

.cambio {
    bottom: 70px;
}

/* Estilos del footer responsivo */

.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 20px;
}

.footer__container-social-networks {
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 9px;
    min-height: 20vh;
    font-size: 1em;
    background-color: #e0e0e0;
    color: #000000;
    border-radius: 5px;
    width: 100%;
    width: 80%;
}

.container-social-networks__title {
    text-align: center;
    font-size: 2.3em;
    margin: 15px 5px 10px;
}

.container-social-networks__link {
    text-decoration: none;
}

.container-social-networks__link:hover {
    opacity: 0.6;
}

.container-social-networks__img {
    width: var(--icons-size-social-networks);
}

/* Información de la compañía */

.footer__container-company-information {
    background-color: #e0e0e0;
    padding: 30px 20px 0;
}

.container-company-information__company-information {
    padding: 0px 20px;
}

.company-information__button {
    background-color: transparent;
    border: none;
    border-top: 1px solid #c7c6c6;
    border-bottom: 1px solid #c7c6c6;
    padding: 10px;
    width: 100%;
}

.company-information__title {
    text-align: start;
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
}

.company-information__link {
    position: relative;
    left: 10px;
    text-decoration: none;
    margin: 5px;
    color: #000000;
}

.footer__container-brand-name {
    margin: 30px;
    text-align: center;
}

.footer-brand-name__svg {
    border: 1px solid #000000;
    border-radius: 10px;
    border-right: none;
    border-left: none;
    width: 170px;
    height: 37px;
}

.brand-name-text {
    fill: #3d3d3d;
}

.footer-brand-name__svg:hover, .brand-name-text:hover {
    fill: #ac0000;
    border-color: #ac0000;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.company-policy-container__company-policy {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.company-policy__link {
    text-decoration: none;
    color: #000000;
}

.company-policy__link:hover {
    text-decoration: underline;
    color: #000000;
}

.link-animation {
    display: inline-block;
    width: 80%;
    position: relative;
}

.link-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    /* background-color: #2da370; */
    background-color: #ff0000;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in;
}

.link-animation:hover::after {
    width: 100%;
}

.animation-color::after {
    background-color: #c6ae91;
}

@media (min-width: 500px) {
    .delete {
        display: none;
    }

    .header {
        grid-template-columns: auto 1fr auto auto auto;
    }

    .brand-name-order {
        order: 1;
        margin-left: 10px;
    }

    .Container-category-woman-man {
        justify-content: center;
        align-content: center;
        display: flex;
        order: 2;
    }
    
    .Container-category-woman-man__p-woman, 
    .Container-category-woman-man__p-man, 
    .barra {
        align-self: center;
        padding: 0 5px;
        color: #ffffff;
        font-size: 1.9em;
        font-weight: 900;
    }

    .search-button-order {
        order: 3;
    }

    .profile-button-order {
        order: 4;
    }

    .shopping-bag-button-order {
        order: 5;
    }

    .header__shopping-bag {
        width: 420px;
    }
}