body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
}

.header {
    background-color: #000000;
}

.aside {
    position: fixed;
    bottom: 0;
    
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 72px 0 50px;
}

.slider-container {
    aspect-ratio: 10 / 16;
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    margin: 0;
    padding: 0;
}

.slider-container img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}


.product {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 0;
}

.product__name {
    font-size: 2em;
    font-weight: bolder;
    margin: 10px 0;
    
}

.product__price, .product__size {
    font-size: 1.4em;
    font-weight: bolder;
    margin: 10px 0;
}

.product__button-to-add {
    padding: 12px 25px;
    background-color: #0b0b0b;
    border-radius: 8px;
    border: 2px solid #000000;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 4px 6px #0000001a;
    margin: 10px 0;
}

.product__button-to-add:hover {
    background-color: #ffffff;
    color: #333333;
    border-color: #000000;
    transform: translateY(-1px);
    box-shadow: 0 8px 12px #00000089;
}

.product__details-toggle, 
.product__shipping-toggle, 
.product__returns-toggle {
    background-color: transparent;
    border: none;
    border-top: 1px solid #c7c6c6;
    border-bottom: 1px solid #c7c6c6;
    padding: 10px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.product__details-content,
.product__shipping-content,
.product__returns-content {
    margin: 15px;
    font-size: 1.3em;
}

@media (min-width: 425px) {
        .product {
        width: 390px;
    }
}