body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
}

.header {
    background-color: #000000;
}

.aside {
    position: fixed;
    bottom: 0;
    
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 72px 0 50px;
}

.Ad-container {
    width: 95%;
    margin: 30px 0;
    background-color: #a1a1a1;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
}

.Ad-container__title {
    text-align: center;
    font-size: 2em;
    margin: 20px 0 10px;
}

.Ad-container__text {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.product-catalog {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 20px;
    justify-items: center;
    
}

.product-catalog__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 8px #00000022;
    transition: transform 0.3s ease;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.product-catalog__product:hover {
    transform: scale(1.009);
}

.product__img {
    justify-self: start;
    align-self: start;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product__name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #333;
}

.product__price {
    font-size: 1.4em;
    font-weight: bolder;
    color: #000000;
    margin-bottom: 20px;
}

.button-to-load-more-products {
    padding: 12px 25px;
    background-color: #0b0b0b;
    border-radius: 8px;
    border: 2px solid #000000;
    color: #ffffff;
    font-size: 1.2em;
    font-family: var(--text-font);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 4px 6px #0000001a;
}

.button-to-load-more-products:hover {
    background-color: #ffffff;
    color: #333333;
    border-color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 8px 12px #000000bb;
}

@media (min-width: 500px) {
    .product-catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 770px) {
    .product-catalog {
        grid-template-columns: repeat(4, 1fr);
        width: 85%;
    }
}