:root {
    --title-font: Montserrat;
    --text-font: lato;
}
html {
    background-color: #323639;
}

.header {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 10;
}

.header__container-brand-name {
    text-align: center;
    line-height: 0;
}

.container-brand-name__svg {
    border: 1px solid #ffffff;
    border-radius: 10px;
    border-right: none;
    border-left: none;
    width: 170px;
    height: 37px;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: 100vh;
    font-family: var(--text-font);
    color: #ffffff;
    overflow: hidden;
}

.forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #323639;
}

.content {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content__img {
    max-height: 100vh;
    object-fit: cover;
}

.tamano {
    width: 90%;
}

.content-container {
    position: relative;
    background: radial-gradient(circle, #323639 50%, #212121);
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px;
    padding: 30px 10px;
}

.hidden {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 1.2s ease-out, opacity 0.7s ease-in-out;
}

.visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition: transform 1.2s ease-out, opacity 0.7s ease-in-out;
}

.form__title {
    text-align: center;
    font-weight: 800;
}

.form__input {
    align-self: center;
    width: 85%;
    color: #000;
    margin: 20px;
    line-height: 2;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

.form__input:focus {
    outline: none;
}

.form__password-recovery {
    margin: 10px;
    padding: 10px;

}

.btn {
    border: none;
    border-radius: 10px;
    line-height: 2;
    width: 80%;
    cursor: pointer;
}

.btn-clean {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 0.8rem;
    cursor: pointer;
}

.form__register {
    padding: 10px;
    margin-top: 5px;
}

@media (max-width: 768px) {
.content-container {
    display: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
}

.form {
    width: 70%;
    height: 65%;
    bottom: 15%;
}

.hidden {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 1.2s ease-out, opacity 0.7s ease-in-out;
}

.visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition: transform 1.2s ease-out, opacity 0.7s ease-in-out;
}

}